.keg-list {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 70px;
  margin-bottom: 70px;
  text-align: center;
}

.keg-list-item {
  width: 400px;
  height: 400px;
  margin: 30px;
  display: inline-block;
  position: relative;
}

.beer-info {
  border: 2px solid black;
  border-radius: 10px;
  height: 45%;
  width: 45%;
  margin: auto;
  background-color: #F2F2F2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.beer-info:hover {
  background-color: #CCB868;
}

.kegpage-container {
  width: 600px;
  height: 600px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.kegpage-info {
  background-color: #F2F2F2;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

}
