.keg-list {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 70px;
  margin-bottom: 70px;
  text-align: center;
}

.keg-list-item {
  width: 400px;
  margin: 30px;
  display: inline-block;
}
