.keg-list {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 70px;
  margin-bottom: 70px;
  text-align: center;
}

.keg-list-item {
  width: 400px;
  height: 400px;
  margin: 30px;
  display: inline-block;
  position: relative;
}

.beer-info {
  border: 2px solid black;
  border-radius: 10px;
  height: 45%;
  width: 45%;
  margin: auto;
  background-color: #F2F2F2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.beer-info:hover {
  background-color: #CCB868;
}

.keg-container {
  width: 600px;
  height: 600px;
  position: absolute;
  left: 63%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.edit-info {
  position: absolute;
  left: 33%;
  top: 50%;
  transform: translate(-50%, -50%);

}

.kegpage-info {
  text-align: center;
  background-color: #F2F2F2;
  position: absolute;
  font-size: 20px;
  padding: 20px;
  width: 40%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid black;
  border-radius: 10px;
}

.add-keg-form {
  text-align: center;
  background-color: #F2F2F2;
  position: absolute;
  font-size: 20px;
  padding: 20px;
  width: 40%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid black;
  border-radius: 10px;
}

.keg-container-form {
  width: 600px;
  height: 600px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.filter-container {
}

.filter-info {
  margin-left: 40%;
  margin-top: 20px;
  width: 30%;
}

.filter-keg-list {
  display: inline-block;
  width: 30%;
}
